.navbar {
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100%;    
    background-color: #f7cb8a; 
    padding: 30px; 
}

.container {
    width: 90%;
    max-width: 1000px;
    margin-top: 0%;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #110101;

}
body {
    font-family:'Arial, Helvetica, sans-serif';
    padding: 20px;
    margin-top: 50px;
    background-color:#ffdda9;
}

body {
    font-size: 30px;
    background-color:#ffdda9;
}